// Colors
$sigepPurple: #592c5f;
$sigepDarkerPurple: #330f39;
$sigepRed: #e2231a;
$sigepGold: #fdc33b;

$linkColor: #772c51;
$secondaryGray: #f2f2f2;

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Height of the footer */
  margin-bottom: 350px;
  background-color: $secondaryGray;
  font-family: 'Istok Web', sans-serif;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5
 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

header {
  border-bottom: solid $sigepGold 3px;
  margin-bottom: 3rem;
  .navbar-dark {
    background-color: $sigepRed;
  }
  img {
    max-height: 40px;
  }
  a:link, a:visited, a:hover {
    text-decoration: none;
  }
  ul > li.current-menu-item > a {
    color: white;
  }
}

a:link, a:visited, a:hover {
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

a.btn-primary {
  background-color: $sigepPurple;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid $sigepGold 3px;
  color: white;
  background: $sigepPurple;
  background: linear-gradient(180deg, $sigepDarkerPurple 0%, $sigepPurple 35%); 
  .footer-navigation-menu {
    ul {
      padding-left: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: .5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  a:link, a:visited, a:hover {
    color: $sigepGold;
    text-decoration: none;
  }
  img {
    max-height: 75px;
  }
}

/**
 * Page Specific
 */
 .home-header {
   margin-top: -3rem;
   background: $sigepPurple;
   background-image: url('../images/campus-background.jpg');
   background-position: bottom;
   background-size: cover;
   h1 {
     color: $secondaryGray;
     span {
       color: white;
     }
   }
   a {
     color: $sigepGold;
   }
   .home-header-content {
     background-color: rgba($sigepDarkerPurple, 0.5);
   }
 }

.home-officers {
  font-size: 0.9rem;
}

.card-columns {
  columns: 3;
  column-gap: 1rem;
  .card {
    break-inside: avoid;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767.98px) {
  .card-columns {
    columns: 1;
  }
}

@import './wp-core.scss';