@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Height of the footer */
  margin-bottom: 350px;
  background-color: #f2f2f2;
  font-family: "Istok Web", sans-serif;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

header {
  border-bottom: solid #fdc33b 3px;
  margin-bottom: 3rem;
}
header .navbar-dark {
  background-color: #e2231a;
}
header img {
  max-height: 40px;
}
header a:link, header a:visited, header a:hover {
  text-decoration: none;
}
header ul > li.current-menu-item > a {
  color: white;
}

a:link, a:visited, a:hover {
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

a.btn-primary {
  background-color: #592c5f;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid #fdc33b 3px;
  color: white;
  background: #592c5f;
  background: linear-gradient(180deg, #330f39 0%, #592c5f 35%);
}
body > footer .footer-navigation-menu ul {
  padding-left: 0;
  list-style: none;
}
body > footer .footer-navigation-menu ul li {
  display: inline-block;
  margin-right: 0.5rem;
}
body > footer .footer-navigation-menu ul li:last-child {
  margin-right: 0;
}
body > footer a:link, body > footer a:visited, body > footer a:hover {
  color: #fdc33b;
  text-decoration: none;
}
body > footer img {
  max-height: 75px;
}

/**
 * Page Specific
 */
.home-header {
  margin-top: -3rem;
  background: #592c5f;
  background-image: url("../images/campus-background.jpg");
  background-position: bottom;
  background-size: cover;
}
.home-header h1 {
  color: #f2f2f2;
}
.home-header h1 span {
  color: white;
}
.home-header a {
  color: #fdc33b;
}
.home-header .home-header-content {
  background-color: rgba(51, 15, 57, 0.5);
}

.home-officers {
  font-size: 0.9rem;
}

.card-columns {
  columns: 3;
  column-gap: 1rem;
}
.card-columns .card {
  break-inside: avoid;
  margin-bottom: 1rem;
}

@media (max-width: 767.98px) {
  .card-columns {
    columns: 1;
  }
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*# sourceMappingURL=style.css.map */
