<!doctype html>
<html lang="en">
  <head>
    {% include head_meta.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-7">
        {{ content }}
        </div>
        <div class="offset-md-1 col-md-4">
          <h4>How do I apply?</h4>
          <p>Click on the link below to fill out the online application form. After you have submitted your application, you may be contacted to setup a follow-up interview.</p>
          <div class="text-left">
            <a href="https://docs.google.com/forms/d/1lSQ94vp2vRdZYpeLvAxVzfP7GOMRuy8Ov_UWD9O2vKA/viewform?usp=send_form" class="btn btn-primary" target="_blank">Balanced Man Scholarship Application</a>
            </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include footer-js.html %}
  </body>
</html>
